<a href="https://colab.research.google.com/github/AndrewRBader/CU-Fintech_challenge-13/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [32]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [33]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

In [34]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("applicants_data.csv"))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [35]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [36]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame

# using copy to create a copy of the df instead of mutating the df directly
applicant_data_df = applicant_data_df.drop(columns = ["EIN","NAME"]).copy()

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [37]:
# Create a list of categorical variables 

# list of all the dataframe datatypes that are objects and not numerical
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [38]:
# Create a OneHotEncoder instance

# set sparse parameter to False

enc = OneHotEncoder(sparse = False)

In [39]:
# Encode the categorcal variables using OneHotEncoder

# using fit transform function frome one hot encoder to encode the data
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [43]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    # has been updated to get_feature_names out, need to update course content
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [44]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

# create numerical dataframe by dropping categorical value columns
numerical_df = applicant_data_df.drop(columns = categorical_variables)

# concatenate encoded_df with numerical_df for final encoded_df
# adding column wise therefore axis = 1
encoded_df = pd.concat([numerical_df, encoded_df], axis = 1)

# Review the Dataframe
# used head to review the first 5 rows of the concatenated df
encoded_df.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [46]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:10]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
7    1
8    1
9    0
Name: IS_SUCCESSFUL, dtype: int64

In [47]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
# use drop function to create features set
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X[:10]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [48]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [49]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [58]:
# Define the the number of inputs (features) to the model

# determining out number of features by length of last row of features set
number_input_features = len(X_train.iloc[-1])

# Review the number of features
number_input_features

116

In [59]:
# Define the number of neurons in the output layer

# setting the number of output layer neurons to 1
number_output_neurons = 1

In [60]:
# Define the number of hidden nodes for the first hidden layer

# setting the hidden node layer1 to 8 as in the module example
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [67]:
# Define the number of hidden nodes for the second hidden layer

# setting the hidden noded layer2 to 4 as in the module example
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [62]:
# Create the Sequential model instance
nn = Sequential()

In [63]:
# Add the first hidden layer

# using .add function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [64]:
# Add the second hidden layer

# use .add function and add hidden_nodes_layer2
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [65]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [66]:
# Display the Sequential model summary

# using the .summary function
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [68]:
# Compile the Sequential model

# using the .compile function
# setting loss to binary_crossentropy, the adam optimizer and the metrics to accuracy
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [69]:
# Fit the model using 50 epochs and the training data

# setting epochs to 50
deep_net_model = nn.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 5s 3ms/step - loss: 1.4647 - accuracy: 0.6681
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9133 - accuracy: 0.7079
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8034 - accuracy: 0.7058
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7880 - accuracy: 0.7158
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7688 - accuracy: 0.7193
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7582 - accuracy: 0.7221
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7511 - accuracy: 0.7235
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7530 - accuracy: 0.7231
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7400 - accuracy: 0.7246
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7324 - accuracy: 0.7277
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7264 - accuracy: 0.7257
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7214 - accuracy: 0.7274
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7166 - accuracy: 0.7275
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7224 - accuracy: 0.7212
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7174 - accuracy: 0.7290
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7198 - accuracy: 0.7282
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7199 - accuracy: 0.7286
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7208 - accuracy: 0.7291
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7257 - accuracy: 0.7273
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7228 - accuracy: 0.7273
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7137 - accuracy: 0.7291
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7027 - accuracy: 0.7302
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7034 - accuracy: 0.7293
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7010 - accuracy: 0.7305
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6986 - accuracy: 0.7299
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6914 - accuracy: 0.7296
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6891 - accuracy: 0.7293
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6858 - accuracy: 0.7300
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6819 - accuracy: 0.7290
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6813 - accuracy: 0.7300
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6856 - accuracy: 0.7304
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6854 - accuracy: 0.7307
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6846 - accuracy: 0.7293
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6808 - accuracy: 0.7290
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6690 - accuracy: 0.7284
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6673 - accuracy: 0.7314
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6578 - accuracy: 0.7312
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6513 - accuracy: 0.7315
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6484 - accuracy: 0.7310
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6481 - accuracy: 0.7303
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6464 - accuracy: 0.7304
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6452 - accuracy: 0.7332
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6447 - accuracy: 0.7315
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6480 - accuracy: 0.7315
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6442 - accuracy: 0.7320
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6434 - accuracy: 0.7307
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6403 - accuracy: 0.7323
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6418 - accuracy: 0.7317
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6394 - accuracy: 0.7320
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6385 - accuracy: 0.7317

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [77]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6492 - accuracy: 0.7257 - 658ms/epoch - 2ms/step
Loss: 0.6491799354553223, Accuracy: 0.7257142663002014

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [71]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [72]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [74]:
# Define the number of neurons in the output layer

# setting the number of output neurons to 1
number_output_neurons_A1 = 1

In [75]:
# Define the number of hidden nodes for the first hidden layer

# setting number of layers to 22 like model 2 in the modules
hidden_nodes_layer1_A1 = 22

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

22

In [76]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [79]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
# trying a sigmoid activation parameter
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model

# using the .summary function
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 936

 dense_4 (Dense)             (None, 1)                 9

 dense_5 (Dense)             (None, 22)                44

 dense_6 (Dense)             (None, 1)                 23

=================================================================
Total params: 1,012
Trainable params: 1,012
Non-trainable params: 0
_________________________________________________________________

In [80]:
# Compile the Sequential model
# setting loss to binary_crossentropy, the adam optimizer and the metrics to accuracy
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [81]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 6s 2ms/step - loss: 0.6192 - accuracy: 0.6789
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5766 - accuracy: 0.7243
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5720 - accuracy: 0.7252
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5681 - accuracy: 0.7268
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - accuracy: 0.7278
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5655 - accuracy: 0.7278
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7293
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5641 - accuracy: 0.7290
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5636 - accuracy: 0.7296
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5633 - accuracy: 0.7301
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5630 - accuracy: 0.7303
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5626 - accuracy: 0.7314
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5625 - accuracy: 0.7305
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5623 - accuracy: 0.7309
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5625 - accuracy: 0.7308
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7308
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5621 - accuracy: 0.7315
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5621 - accuracy: 0.7311
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5618 - accuracy: 0.7315
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7317
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5617 - accuracy: 0.7315
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7322
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7304
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5616 - accuracy: 0.7307
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5613 - accuracy: 0.7313
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7317
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5612 - accuracy: 0.7312
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7316
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7324
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7317
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5608 - accuracy: 0.7315
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7316
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7324
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7319
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7318
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7327
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5604 - accuracy: 0.7320
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5602 - accuracy: 0.7319
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7322
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7321
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5601 - accuracy: 0.7324
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5599 - accuracy: 0.7323
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5600 - accuracy: 0.7327
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5601 - accuracy: 0.7326
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7332
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7327
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7324
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5595 - accuracy: 0.7321
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5598 - accuracy: 0.7325
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5596 - accuracy: 0.7328

#### Alternative Model 2

In [85]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [86]:
# Define the number of neurons in the output layer

# set the number of output neurons to 1
number_output_neurons_A2 = 1

In [82]:
# Define the number of hidden nodes for the first hidden layer

# doubled the number of neurons in first hidden layer
hidden_nodes_layer1_A2 = 44

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

44

In [83]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [87]:
# First hidden layer

# using .add function with Dense dependency
nn_A2.add(
    Dense(
        # setting units to the hidden layer1
        units = hidden_nodes_layer1_A2, 
        # setting input dim to number of input features
        input_dim = number_input_features,
        # setting activation to relu parameter
        activation="relu"
      )
  )

# Output layer

# adding the output layer of neural model
nn_A2.add(
    Dense(
        # setting units to number of output neurons
        units = number_output_neurons_A2,
        # setting the activation parameter to sigmoid as in class
        activation = "sigmoid"
        )
    )

# Check the structure of the model

# Using summary function to check the structure of the Model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 44)                5148

 dense_8 (Dense)             (None, 44)                1980

 dense_9 (Dense)             (None, 1)                 45

=================================================================
Total params: 7,173
Trainable params: 7,173
Non-trainable params: 0
_________________________________________________________________

In [88]:
# Compile the model

# setting loss to binary_crossentropy, the adam optimizer and the metrics to accuracy
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [89]:
# Fit the model

# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5596 - accuracy: 0.7323
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7322
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5593 - accuracy: 0.7324
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7323
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5594 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5592 - accuracy: 0.7320
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7326
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5591 - accuracy: 0.7328
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5593 - accuracy: 0.7319
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5592 - accuracy: 0.7327
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5591 - accuracy: 0.7320
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7319
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5595 - accuracy: 0.7329
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7330
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5591 - accuracy: 0.7325
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5591 - accuracy: 0.7325
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5589 - accuracy: 0.7321
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7323
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5587 - accuracy: 0.7320
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7327
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7331
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5589 - accuracy: 0.7314
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5584 - accuracy: 0.7329
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7329
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5587 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7333
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5585 - accuracy: 0.7324
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5585 - accuracy: 0.7324
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7318
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7323
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5582 - accuracy: 0.7324
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5584 - accuracy: 0.7329
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5581 - accuracy: 0.7334
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5582 - accuracy: 0.7322
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5580 - accuracy: 0.7329
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5579 - accuracy: 0.7327
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5578 - accuracy: 0.7324
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5582 - accuracy: 0.7324
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5580 - accuracy: 0.7332
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7329
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5578 - accuracy: 0.7333
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7325
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7326
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7323
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5575 - accuracy: 0.7328
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7326
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7328
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7327
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7322

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [90]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.6492 - accuracy: 0.7257 - 681ms/epoch - 3ms/step
Loss: 0.6491799354553223, Accuracy: 0.7257142663002014

In [91]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5649 - accuracy: 0.7282 - 1s/epoch - 5ms/step
Loss: 0.5649099349975586, Accuracy: 0.7281632423400879

In [92]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.7341 - accuracy: 0.4430 - 1s/epoch - 4ms/step
Loss: 0.7341448664665222, Accuracy: 0.44303205609321594

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE